<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>allegro-provider-front</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container" ng-app="">
            <form name="loginForm" id="loginFrom" class="form-signin" ng-controller="LoginCtrl" ng-submit="$scope.doLogin(login,password)" >
                <h2 class="form-signin-heading">
                    Please sign in</h2>
                <p><input class="form-control" type="text" ng-model="credentials.username" placeholder="Login"></p>
                <p><input class="form-control" type="password" ng-model="credentials.password" placeholder="Password"></p>
                <br>
                <button type="submit" ng-click="doLogin(credentials)" class="btn btn-lg btn-primary btn-block">Login</button>
                <pre>{{sessionHandler}}</pre>
            </form>
        </div>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

        <script type="text/javascript"  src="js/app.js"></script>
    </body>
</html>